///COLORS
$color-first: #e1e8f0;
$color-second: #7d68e9;
$color-third: #313388;
$color-fourth: #dee8f4;
$color-fiveth: #73848c;
//FONT SIZES
$main-size: 16px;

//gray scale
$gs-white: #ffffff;
$gs-gray-white: #f1f1f1;
$gs-ligth-gray: #cdcdcd;
$gs-gray: gray;
$gs-gray-medium: #d3d3d3;
$gs-gray-dark: #8f8f8f;
$gs-black-medium: #666666;
$gs-black: black;

//responsive-size
$large-desktop: 1200px;
$handheld: 600px;
